@import "bootstrap-sprockets";
@import "bootstrap";

a{
    font-size: 25px;
}

.navbar-brand{
    font-size: 25px;
}

label, p, td{
    font-size: 18px
}

strong, th{
    font-size: 22px;
}

.btn{
    font-size: 20px !important;
    background-color: #564D65 !important;
    border: #564D65  !important;
}

.actions{
    margin-top: 20px;
    text-align: center;
}

.title{
    text-align: center;
}

input, textarea { 
    font-size: 18px !important; 
}

footer{
    font-size: 18px;
}

.nav{
    color: white !important;
}

a{
    color: white;
}

.nav-name{
    color: white;
    font-size: 16px;
}

body{ 
    min-height: 100vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
  }


footer{
    text-align: center;
    height: 50px;
    margin-top: 20px;
    color: white;
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-form{
    text-align: center;
}

.search-field{
    width: 200px;
}